<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Url Shortener</title>
</head>

<body>

    <div class="container my-5">
        <h3>Please enter a URL to shorten</h3>
        <form action="/shorten" method="POST">

            <div class="form-group">
                <label for="url">URL: </label>
                <input type="text" class="form-control" id="url" name="url" placeholder="https://github.com/neerajkulk/url_shortener"><br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        <% if (typeof id !='undefined' ) { %>
            <p>
                <a href="<%= longURL %>">
                    <%= longURL %>
                </a>
            </p>

            <h6> has been shortened to </h6>

            <p>
                <a href="<%= `http://localhost:3000/${id}` %>">
                    <%= `http://localhost:3000/${id}` %>
                </a>
            </p>
            <% } %>
    </div>

</body>


</html>